/* цвет основного текста #212121 */
/* вторичный цвет текста #757575 */
/* цвет лого и кнопок #2196F3 */

/* основной цвет фона #FFFFFF  */
/* вторичныйцвет фона #2F303A */
/* дополнительный цвет фона #F5F4FA */

:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --white: #ffffff;
  --second-background-color: #2f303a;
  --additional-background-color: #f5f4fa;
}

cursor: pointer;
cursor: auto;

body {
  font-family: "Roboto", "Raleway", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;

  color: var(--primary-text-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/*header*/

header {
  background-color: var(--white);
}

.site-nav .menu-item:hover,
.site-nav .menu-item:focus {
  color: var(--accent-color);
}

.auth-nav .auth-item:hover,
.auth-nav .auth-item:focus {
  color: var(--accent-color);
}

.logo-first {
  color: var(--accent-color);
  text-decoration: none;
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo-second {
  color: #000000;
  text-decoration: none;
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.advantages {
  list-style: none;
}

.menu-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  text-decoration: none;
}

.auth-item {
  color: var(--title-text-color);
  text-decoration: none;
}

/*main contant*/

/*section order*/

.order {
  background-color: var(--primary-text-color);
}

.main-idea {
  color: var(--white);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
}

.order-btn {
  color: var(--white);
  background-color: var(--accent-color);
  font-style: 700;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/* section advantages*/

.advantages-item {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
}

.description-item {
  color: var(--title-text-color);
  font-size: 14px;
  line-height: 1.71;
}

/*our works and team*/

.works,
.team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.section-team {
  background-color: var(--additional-background-color);
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.team-position {
  color: var(--title-text-color);
  font-size: 16px;
  line-height: 1.19;
}

/*contact inform*/

.footer {
  background-color: var(--second-background-color);
}

.logo-second-fotter {
  color: var(--white);
}
.contact {
  color: var(--white);
  font-size: 14px;
  line-height: 1.71;
}

.auth-footer .footer-item:hover,
.auth-footer .footer-item:focus {
  color: var(--accent-color);
}

.footer-item {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

/* страница 2 */

.opportunity {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}

.product {
  color: var(--title-text-color);
  font-size: 16px;
  line-height: 1.87;
}
